<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <style>
        nav a {
            color: #blue;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;
        }

        .book {
            padding: 0px;
            margin: 5px;
            background-color: #f7f4f4;
        }

        .review {
                margin-left: 50px;
                font-size: 20px;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('menu') }}">Tab Menu</a>
        <a href="{{ url_for('submenu') }}">Tab SubMenu</a>
        <a href="{{ url_for('index2') }}" target="_blank">BI</a>
        <a href="{{ url_for('crimes_por_cidade') }}" target="_blank">Crime por cidade</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
